<%= simple_form_for @premarket, html: {multipart: true} do |f| %>
	<%= f.error_notification %>
	
	<%= f.input :title %>
	<%= f.association :premarket_type, selected: 1 %>
	<%= f.input :price %>
	<%= f.input :special_offer %>
	<%= f.association :property_central_facilities, as: :check_boxes %>
	<%= f.file_field :feature_image %>

	
  <%= f.simple_fields_for :property_location do |f| %>
    <% render 'property/location_form', f: f %>
  <% end %>

	<%= f.submit %>

<% end %>