<%= search_form_for @search do |f| %>

  <%= f.label :search_premarket_properties %>
  <%= f.search_field :title_or_description_or_special_offer_or_property_location_address_or_property_location_street_or_property_location_city_or_property_location_province_or_property_location_postal_code_cont %>
  <%= f.submit %>
<% end %>