<ul>
  <li><%= link_to "All Premarket Property", premarkets_path %></li>

  <% PremarketType.all.each do |pret| %>
    <li><%= link_to pret.name, premarkets_path(premarket_type: pret.name) %></li>
  <% end %>  
</ul>
