<% if @property_gallery.new_record? %>
  alert("Failed to upload painting: <%= j @property_gallery.errors.full_messages.join(', ').html_safe %>");
<% else %>
  $("#gallery-preview").append("<%= j render(@painting) %>");
<% end %>