<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <div class="panel radius">
     
    </div>  
  </div>

  <div class="small-12 medium-4 large-3 columns">
    <div class="filter-search-form small-12 medium-12 large-12 columns">
      
    </div>
  </div>


  <div class="small-12 medium-9 large-10 columns">
    <% @premarkets.each do |premarket| %>
      <%= premarket.title %>
      <%= premarket.price %>

      <% premarket.premarket_styles.all.each do |ps| %>
        <%= ps.name %>
      <% end %>
    <% end %>
  </div>

</div>
