<p>Title: 
<%= @premarket.title %></p>

<p>Property Type:
<%= @premarket.premarket_type.name %></p>

<p>Price From:
<%= @premarket.price %> </p>

<p>Special Offer:
<%= @premarket.special_offer %> </p>

<p>Facilities: 
<% @premarket.property_central_facilities.each do |cf| %>
	<%= cf.name %>
<% end %></p>

<p>Feature Image:	
	<%= image_tag @premarket.feature_image.url(:thumb).to_s %></p>

<% @premarket.premarket_styles.each do |style| %>
	<p>Style Name: 
	<%= style.name %></p>
	
	<p>Price: 
	<%= style.price %></p>
	
	<p>Size: 
	<%= style.size %></p>
	
	<p>Description: 
	<%= style.description %></p>
	
	<p>Bedroom: 
	<%= style.property_bedroom.name %></p>
	
	<p>Bathroom: 
	<%= style.property_bathroom.name %></p>
	
	<p>Furnishing Type: 
	<%= style.property_furnishing_type.name %></p>
	
	<p>Pet Friendly:
	<%= style.property_pet_friendly_type.name %></p>
	
	<p>Parking Space:
	<%= style.property_parking_space.name %></p>	

	<p>Private Facility(ies):	
	<% style.property_private_facilities.each do |pf| %>
		<%= pf.name %>
	<% end %></p>

	<p>Furniture:
	<% style.property_furnitures.each do |furniture| %>
		<%= furniture.name %>
	<% end %></p>

	<p>Space(s)/Area(s):	
	<% style.property_areas.each do |area| %>
		<%= area.name %>
	<% end %></p>

	<p>
	  <strong>Locations:</strong>
	  <%= @premarket.property_location.address %>
	  <%= @premarket.property_location.street %>
	  <%= @premarket.property_location.city %>
	  <%= @premarket.property_location.province %>
	  <%= @premarket.property_location.country %>
	  <%= @premarket.property_location.postal_code %>
	</p>

	<p>Gallery:	
	<% style.property_galleries.each do |gallery| %>
		<%= image_tag gallery.image.url(:thumb).to_s %>
	<% end %></p>
<% end %>

<%= link_to "Add Style", new_premarket_premarket_style_path(@premarket) %>