<%= simple_form_for @residential, html: { multipart: true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.association :residential_type, selected: 1 %>
    <%= f.association :property_post_type, selected: 1 %>
    <%= f.input :price %>
    <%= f.input :size %>
    <%= f.input :description %>
    <%= f.association :property_bedroom, selected: 1 %>
    <%= f.association :property_bathroom, selected: 1 %>
    <%= f.association :property_furnishing_type, selected: 1 %>
    <%= f.association :property_pet_friendly_type, selected: 1 %>
    <%= f.association :property_parking_space, selected: 1 %>
    <%= f.association :property_central_facilities, as: :check_boxes %>
    <%= f.association :property_private_facilities, as: :check_boxes %>
    <%= f.association :property_furnitures, as: :check_boxes %>
    <%= f.association :property_areas, as: :check_boxes %>
    <%= f.file_field :property_galleries, multiple: true, name: "property_galleries[image][]" %>

    <div class="gallery-preview">
        <% @residential.property_galleries.each do |pg|%>
          <%= image_tag pg.image.url(:thumb).to_s %>
          <div><%= pg.image %></div>
          <div><%= link_to "Remove", residential, method: :delete %>
            </div>
        <% end %>
    </div>
  </div>

  <%= f.simple_fields_for :property_location do |f| %>
    <% render 'property/location_form', f: f %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
