<h1>Filter Search</h1>
<%= form_tag residentials_path, method: :get do %>

  <div class="row">
    <h2 class="filter-section-header">Type:</h2>
    <div class="small-6 medium-6 large-6 columns">
      <%= select_tag :property_post_type, options_from_collection_for_select(PropertyPostType.all, :id, :name, params[:property_post_type]), include_blank: "Post Type" %> 
      <!-- Use  params[:field_name] just to persist the value -->
    </div>
    <div class="small-6 medium-6 large-6 columns">
      <%= select_tag :residential_type, options_from_collection_for_select(ResidentialType.all, :id, :name), include_blank: "Residential Type" %> 
    </div>     
  </div>

  <div class="row">
    <h2 class="filter-section-header">Details:</h2>
  </div>


  <div class="row collapse">
    <label>Price</label>    
    <div class="small-5 medium-5 large-5 columns">
      <%= number_field_tag :price_min, params[:price_min], placeholder: "Min." %>
    </div>
    <div class="small-1 medium-1 large-1 columns">
      <span class="postfix">-</span>
    </div>
    <div class="small-6 medium-6 large-6 columns"> 
      <%= number_field_tag :price_max, params[:price_max], placeholder: "Max." %>
    </div>  
    <hr>      
  
    <label>Size</label>
    <div class="small-5 medium-5 large-5 columns">
      <%= number_field_tag :size_min, params[:size_min], placeholder: "Min." %>
    </div>
    <div class="small-1 medium-1 large-1 columns">
      <span class="postfix">-</span>
    </div>
    <div class="small-6 medium-6 large-6 columns">
      <%= number_field_tag :size_max, params[:size_max], placeholder: "Max." %>
    </div>
    <hr>

    <label>Bedroom</label>
    <div class="small-5 medium-5 large-5 columns">
      <%= select_tag :property_bedroom_min,  options_from_collection_for_select(PropertyBedroom.all, :id, :name, params[:property_bedroom_min]), include_blank: "Min." %>
    </div>
    <div class="small-1 medium-1 large-1 columns">
      <span class="postfix">-</span>
    </div>
    <div class="small-6 medium-6 large-6 columns">
      <%= select_tag :property_bedroom_max,  options_from_collection_for_select(PropertyBedroom.all, :id, :name, params[:property_bedroom_max]), include_blank: "Max." %>
    </div>
    <hr>

    <label>Bathroom</label>
    <div class="small-5 medium-5 large-5 columns">
      <%= select_tag :property_bathroom_min,  options_from_collection_for_select(PropertyBathroom.all, :id, :name, params[:property_bathroom_min]), include_blank: "Min." %>
    </div>
    <div class="small-1 medium-1 large-1 columns">
      <span class="postfix">-</span>
    </div>
    <div class="small-6 medium-6 large-6 columns">
      <%= select_tag :property_bathroom_max,  options_from_collection_for_select(PropertyBathroom.all, :id, :name, params[:property_bathroom_max]), include_blank: "Max." %>
    </div>
    <hr>
  </div>

  <div class="row">
    <div class="small-6 medium-6 large-6 columns">
      <%= select_tag :property_pet_friendly_type,  options_from_collection_for_select(PropertyPetFriendlyType.all, :id, :name, params[:property_pet_friendly_type]), include_blank: "Pet Friendly" %>
    </div>
    
    <div class="small-6 medium-6 large-6 columns">
      <%= select_tag :property_furnishing_type,  options_from_collection_for_select(PropertyFurnishingType.all, :id, :name, params[:property_furnishing_type]), include_blank: "Furnishing" %>
    </div>

    <div class="small-6 medium-6 large-6 columns end">
      <%= select_tag :property_parking_space,  options_from_collection_for_select(PropertyParkingSpace.all, :id, :name, params[:property_parking_space]), include_blank: "Parking Space" %>
    </div>
    <hr>      
  </div>

  <div class="row">
    <h2 class="filter-section-header">Facility</h2>
  </div>
  
  <div class="small-12 medium-12 large-12 columns">
    <div class="row">
      
      <label>Private Facilities</label>
      <% PropertyCentralFacility.all.each do |opt| %>
        <div class="small-12 medium-12 large-12 columns">
          <div class="checkbox-option">
            <%= check_box_tag :central_facility, opt.id, false, :id => "central_facility_#{opt.id}" %>
            <label><%= opt.name %><br></label>
          </div>
        </div> 
      <% end %>
      <hr>

    </div>    
  </div>

  <div class="row">
    <%= submit_tag "Filter", name: nil, :class => "button" %>
  </div>
<% end %>



