<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <div class="panel radius">
      <%= render 'search_fulltext' %>
    </div>  
  </div>

  <div class="small-12 medium-4 large-3 columns">
    <div class="filter-search-form small-12 medium-12 large-12 columns">
      <%= render 'search_filter' %>
    </div>
  </div>

  <div class="small-12 medium-8 large-9 columns">
    <h1>Listing Residentials</h1>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Postable</th>
          <th>Price</th>
          <th>Size</th>
          <th>Description</th>
          <th>Property bedroom</th>
          <th>Property bathroom</th>
          <th>Property furnishing type</th>
          <th>Property pet friendly type</th>
          <th>Property parking space</th>
          <th>Central facility</th>
          <th>Private facility</th>
          <th>Furniture</th>
          <th>Area</th>
          <th>Imageable</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @residentials.each do |residential| %>
          <tr>
            <td><%= residential.title %></td>
            <td><%= residential.property_post_type.name %></td>
            <td><%= residential.price %></td>
            <td><%= residential.size %></td>
            <td><%= residential.description %></td>
            <td><%= residential.property_bedroom.name %></td>
            <td><%= residential.property_bathroom.name %></td>
            <td><%= residential.property_furnishing_type.name %></td>
            <td><%= residential.property_pet_friendly_type.name %></td>
            <td><%= residential.property_parking_space.name %></td>
            <td><% residential.property_central_facilities.each do |obj| %>
                  <%= obj.name %>
                <% end %></td>
            <td><% residential.property_private_facilities.each do |obj| %>
                  <%= obj.name %>
                <% end %></td>
            <td><% residential.property_furnitures.each do |obj| %>
                  <%= obj.name %>
                <% end %></td>
            <td><% residential.property_areas.each do |obj| %>
                  <%= obj.name %>
                <% end %></td>
            <td><% residential.property_galleries do |obj| %>
                  <% image_tag obj.image.url(thumb).to_s %>
                <% end %>
            </td>
            <td><%= link_to 'Show', residential %></td>
            <td><%= link_to 'Edit', edit_residential_path(residential) %></td>
            <td><%= link_to 'Destroy', residential, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Residential', new_residential_path %>
        
  </div>


</div>
