<p>
  <strong>Title:</strong>
  <%= @residential.title %>
</p>

<p>
  <strong>Property Type:</strong>
  <%= @residential.residential_type.name %>
</p>

<p>
  <strong>Postable:</strong>
  <%= @residential.property_post_type.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @residential.price %>
</p>

<p>
  <strong>Size:</strong>
  <%= @residential.size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @residential.description %>
</p>

<p>
  <strong>Property bedroom:</strong>
  <%= @residential.property_bedroom.name %>
</p>

<p>
  <strong>Property bathroom:</strong>
  <%= @residential.property_bathroom.name %>
</p>

<p>
  <strong>Property furnishing type:</strong>
  <%= @residential.property_furnishing_type.name %>
</p>

<p>
  <strong>Property pet friendly type:</strong>
  <%= @residential.property_pet_friendly_type.name %>
</p>

<p>
  <strong>Property parking space:</strong>
  <%= @residential.property_parking_space.name %>
</p>

<p>
  <strong>Central facility:</strong>
  <% @residential.property_central_facilities.each do |obj| %>
    <%= obj.name %>
  <% end %>  
</p>

<p>
  <strong>Private facility:</strong>
  <% @residential.property_private_facilities.each do |obj| %>
    <%= obj.name %>
  <% end %>  
</p>

<p>
  <strong>Furniture:</strong>
  <% @residential.property_furnitures.each do |obj| %>
    <%= obj.name %>
  <% end %>  
</p>

<p>
  <strong>Area:</strong>
  <% @residential.property_areas.each do |obj| %>
    <%= obj.name %>
  <% end %>  
</p>

<p>

<p>
  <strong>Locations:</strong>
  <%= @residential.property_location.address %>
  <%= @residential.property_location.street %>
  <%= @residential.property_location.city %>
  <%= @residential.property_location.province %>
  <%= @residential.property_location.country %>
  <%= @residential.property_location.postal_code %>
</p>

<p>
  <strong>Gallery:</strong>
  <% @residential.property_galleries.each do |obj| %>
    <%= image_tag obj.image.url(:thumb).to_s %>
  <% end %>
</p>

<%= link_to 'Edit', edit_residential_path(@residential) %> |
<%= link_to 'Back', residentials_path %>
