<fieldset>
	<%= f.input :address %>
	<%= f.input :street %>
	<%= f.input :city %>
	<%= f.input :province %>
	<%= f.input :country, as: :country, selected: 'TH' %>
	<%= f.input :postal_code %>
	<%= f.input :latitude, as: :hidden %>
	<%= f.input :longitude, as: :hidden %>	
</fieldset>

