@import 'custom/foundation_and_overrides';

$box-shadow: 0px 1px 2px $clr-grey-900;

body {
	background: $clr-blue-grey-50;
	padding: 0;
}

p {
	margin: 0;
}


nav {
	box-shadow: 0px 1px 2px $clr-grey-900;
	.dropdown {
		box-shadow: $box-shadow;
	}
}

footer {
	width: 100%;
	background: $clr-cyan-700;
	padding: 3rem 3rem;
	.section-header {
		color: white; 
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.3rem;
		margin: 0.3rem;
	}
	li {
		list-style-type: none;
		a {
			color: white;
			text-transform: capitalize;
			&:hover {
				color: $clr-blue-grey-200;
				animation-duration: 3s;
			}			
		}
	}

}

// homepage
.section-1 {
	background: image_url("7.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	width: 100%;
	height: auto;
	.search-form-container {
		margin-top: 8rem;
		margin-bottom: 8rem;
		box-shadow: $box-shadow;
		border-radius: 10px;
		padding: 2rem;
		background: linear-gradient(to bottom, $clr-blue-grey-100, $clr-blue-grey-50);
		a {
			border-radius: 10px;
			margin-right: 1rem;
		}
	}
}


// property
.fulltext-search-form {
	margin-top: 2rem; 
	box-shadow: $box-shadow;
	padding: 1rem;
}

.filter-search-form {
	margin-top: 1rem;
	background: $white;
	.filter-section-header {
		width: 100%;
		background: $clr-amber-800;
		font-size: 1rem;
		color: $white;
		padding: 0.5rem;
		font-weight: bold;
	}
	select {
		font-size: 0.75rem;
	}
	span.postfix {
		background: none;
		border: none;
	}
	.checkbox-option {
		font-size: 0.75rem;
	}
}