<%= f.error_notification %>

<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :email %>
<%= f.input :phone %>
<%= f.file_field :profile_image %>
<label>User type</label>
<%= select_tag :professional, options_for_select([['Regular User', 0], ['Agency/Service Provider', 1]], selected: 0) %>

<%= render 'user_profession_form', f: f %>

<%= f.submit %>