<h1>Agent Details</h1>
<%= f.simple_fields_for :user_profession do |f| %>
	<%= f.input :user_professional_expertise, as: :select, collection: UserProfessionalExpertise.all %>
	<%= f.input :about_me %>

	<%= render 'user_company_form', f: f %>
<% end %>