<h1>Company Details</h1>
<%= f.simple_fields_for :user_company do |f| %>
	<%= f.input :name %>
	<%= f.input :website %>
	<%= f.input :email %>
	<%= f.input :phone %>
	<%= f.input :fax %>
	<%= f.input :address %>
	<%= f.input :street %>
	<%= f.input :city %>
	<%= f.input :province %>
	<%= f.input :country %>
	<%= f.input :postal_code %>
<% end %>