<%= simple_form_for(@commercial) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.association :property_post_type, selected: 1 %>
    <%= f.association :commercial_type, selected: 1 %>
    <%= f.input :price %>
    <%= f.input :size %>
    <%= f.input :description %>
    <%= f.file_field :property_galleries, multiple: true, name: "property_galleries[image][]" %>
  </div>

  <%= f.simple_fields_for :property_location do |f| %>
    <% render 'property/location_form', f: f %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
