<%= form_tag residentials_path, method: :get do %>
  <div class="row collapse">
    <div class="small-10 columns">
      <%= text_field_tag :search_commercial_property, params[:search_commercial_property], placeholder: "Search with keyword" %>
    </div>
    <div class="small-2 columns">
      <%= submit_tag "Search", name: nil, class: "button postfix" %>
    </div>
  </div> 
<% end %>