<h1>Filter Search</h1>
<%= form_tag residentials_path, method: :get do %>

  <div class="row">
    <h2 class="filter-section-header">Type:</h2>
    <div class="small-6 medium-6 large-6 columns">
      <%= select_tag :property_post_type, options_from_collection_for_select(PropertyPostType.all, :id, :name, params[:property_post_type]), include_blank: "Post Type" %> 
      <!-- Use  params[:field_name] just to persist the value -->
    </div>
    <div class="small-6 medium-6 large-6 columns">
      <%= select_tag :commercial_type, options_from_collection_for_select(CommercialType.all, :id, :name), include_blank: "Residential Type" %> 
    </div>     
  </div>

  <div class="row">
    <h2 class="filter-section-header">Details:</h2>
  </div>


  <div class="row collapse">
    <label>Price</label>    
    <div class="small-5 medium-5 large-5 columns">
      <%= number_field_tag :price_min, params[:price_min], placeholder: "Min." %>
    </div>
    <div class="small-1 medium-1 large-1 columns">
      <span class="postfix">-</span>
    </div>
    <div class="small-6 medium-6 large-6 columns"> 
      <%= number_field_tag :price_max, params[:price_max], placeholder: "Max." %>
    </div>  
    <hr>      
  
    <label>Size</label>
    <div class="small-5 medium-5 large-5 columns">
      <%= number_field_tag :size_min, params[:size_min], placeholder: "Min." %>
    </div>
    <div class="small-1 medium-1 large-1 columns">
      <span class="postfix">-</span>
    </div>
    <div class="small-6 medium-6 large-6 columns">
      <%= number_field_tag :size_max, params[:size_max], placeholder: "Max." %>
    </div>
    <hr>

  <div class="row">
    <%= submit_tag "Filter", name: nil, :class => "button" %>
  </div>
<% end %>
