<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <div class="panel radius">
      <%= render 'search_fulltext' %>
    </div>  
  </div>

  <div class="small-12 medium-4 large-3 columns">
    <div class="filter-search-form small-12 medium-12 large-12 columns">
      <%= render 'search_filter' %>
    </div>
  </div>
  </div>

  <div class="small-12 medium-8 large-9 columns">
    <h1>Listing Commercials</h1>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Postable</th>
          <th>Commercial type</th>
          <th>Price</th>
          <th>Size</th>
          <th>Description</th>
          <th>Imageable</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @commercials.each do |commercial| %>
          <tr>
            <td><%= commercial.title %></td>
            <td><%= commercial.property_post_type.name %></td>
            <td><%= commercial.commercial_type.name %></td>
            <td><%= commercial.price %></td>
            <td><%= commercial.size %></td>
            <td><%= commercial.description %></td>
            <td><%= link_to 'Show', commercial %></td>
            <td><%= link_to 'Edit', edit_commercial_path(commercial) %></td>
            <td><%= link_to 'Destroy', commercial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Commercial', new_commercial_path %>

  </div>

</div>


    