<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @commercial.title %>
</p>

<p>
  <strong>Postable:</strong>
  <%= @commercial.property_post_type.name %>
</p>

<p>
  <strong>Commercial type:</strong>
  <%= @commercial.commercial_type.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @commercial.price %>
</p>

<p>
  <strong>Size:</strong>
  <%= @commercial.size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @commercial.description %>
</p>

<p>
  <strong>Locations:</strong>
  <%= @commercial.property_location.address %>
  <%= @commercial.property_location.street %>
  <%= @commercial.property_location.city %>
  <%= @commercial.property_location.province %>
  <%= @commercial.property_location.country %>
  <%= @commercial.property_location.postal_code %>
</p>

<p>
  <strong>Gallery:</strong>
  <% @commercial.property_galleries.each do |obj| %>
    <%= image_tag obj.image.url(:thumb).to_s %>
  <% end %>
</p>

<%= link_to 'Edit', edit_commercial_path(@commercial) %> |
<%= link_to 'Back', commercials_path %>
