<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel1">Residential</a></li>
  <li class="tab-title"><a href="#panel2">Commercial</a></li>
  <li class="tab-title"><a href="#panel3">Premarket</a></li>
</ul>

  <div class="tabs-content">
    <div class="content active" id="panel1">
      <%= search_form_for @residential_search, url: residentials_path, method: :get do |f| %>
        <%= f.label :search_residential_properties %>
        <div class="row collapse postfix-round">
          <div class="small-10 medium-10 large-10 columns">
            <%= f.search_field :title_or_description_or_property_location_address_or_property_location_street_or_property_location_city_or_property_location_province_or_property_location_postal_code_cont, placeholder: "Ex. keyword, name, street, city etc." %>
          </div>     
          
          <div class="small-2 medium-2 large-2 columns">
            <%= f.submit 'SEARCH', class: "button postfix" %>
          </div>
        </div>  
      <% end %>
    </div> 

    <div class="content" id="panel2">
      <%= search_form_for @commercial_search, url: commercials_path, method: :get do |f| %>
        <%= f.label :search_commercial_properties %>
        <div class="row collapse postfix-round">
          <div class="small-10 medium-10 large-10 columns">
            <%= f.search_field :title_or_description_or_property_location_address_or_property_location_street_or_property_location_city_or_property_location_province_or_property_location_postal_code_cont, placeholder: "Ex. keyword, name, street, city etc." %>
          </div>

          <div class="small-2 medium-2 large-2 columns">
            <%= f.submit 'SEARCH', class: "button postfix" %>
          </div>
        </div>
      <% end %> 
    </div>

    <div class="content" id="panel3">
      <%= search_form_for @premarket_search, url: premarkets_path, method: :get do |f| %>
        <%= f.label :search_premarket_properties %>
        <div class="row collapse postfix-round">
          <div class="small-10 medium-10 large-10 columns">        
            <%= f.search_field :title_or_description_or_special_offer_or_property_location_address_or_property_location_street_or_property_location_city_or_property_location_province_or_property_location_postal_code_cont, placeholder: "Ex. keyword, name, street, city etc." %>
          </div>

          <div class="small-2 medium-2 large-2 columns">
            <%= f.submit 'SEARCH', class: "button postfix" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
