<div class="section-1">
	<div class="row">
		<div class="search-form-container small-12 medium-10 medium-centered large-8 large-centered columns">
			<%= render 'property_search' %>
		</div>
	</div>
</div>