<%= simple_form_for @post, html: {multipart: true} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.association :post_categories, as: :check_boxes %>
    <%= f.input :excerpt %>
    <%= f.input :content %>
    <%= f.file_field :feature_image %>
    <%= f.input :admin_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
