<%= form_tag posts_path, method: :get do %>
  <div class="row">
    <div class="large-12 columns">
      <div class="panel radius">
        <div class="row collapse">
          <div class="small-10 columns">
            <%= text_field_tag :search_post, params[:search_post], placeholder: "Search here" %>
          </div>
          <div class="small-2 columns">
            <%= submit_tag "Search", name: nil, class: "button postfix" %>
          </div>
        </div>
      </div>
    </div>
  </div>   
<% end %>