<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <%= render 'search_form' %> 
  </div>
  
  
  <div class="small-12 medium-3 large-2 columns">
    <%= render 'categories' %>  
  </div>

  <div class="small-12 medium-9 large-10 columns">
    <h1>Listing Posts</h1>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Post category</th>
          <th>Excerpt</th>
          <th>Content</th>
          <th>Feature image</th>
          <th>Admin</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td>
              <% post.post_categories.each do |obj| %>
                <%= obj.name %>
              <% end %>  
            </td>
            <td><%= post.excerpt %></td>
            <td><%= post.content %></td>
            <td><%= post.feature_image %></td>
            <td><%= post.admin_id %></td>
            <td><%= link_to 'Show', post %></td>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= will_paginate @posts %>

    <%= link_to 'New Post', new_post_path %>    
  </div>
</div>




