<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Post category:</strong>
  <% @post.post_categories.each do |c| %>
    <%= c.name %>
  <% end %>
</p>

<p>
  <strong>Excerpt:</strong>
  <%= @post.excerpt %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Feature image:</strong>
  <%= image_tag @post.feature_image.url(:thumb).to_s %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @post.admin_id %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
