<%= simple_form_for [:premarket, @premarket_style], html: {multipart: true} do |f| %>
    <%= f.error_notification %>

    <%= f.input :name %> 
    <%= f.input :price %>
    <%= f.input :size %>
    <%= f.input :description %>
    <%= f.association :property_bedroom, selected: 1 %>
    <%= f.association :property_bathroom, selected: 1 %>
    <%= f.association :property_furnishing_type, selected: 1 %>
    <%= f.association :property_pet_friendly_type, selected: 1 %>
    <%= f.association :property_parking_space, selected: 1 %>
    <%= f.association :property_furnitures, as: :check_boxes %>
    <%= f.association :property_private_facilities, as: :check_boxes %>
    <%= f.association :property_areas, as: :check_boxes %>
    <%= f.simple_fields_for :property_galleries do |gf| %>
        <%= gf.file_field :image, multiple: true, name: "property_galleries[image][]" %>
    <% end %>
        
    <%= f.submit %>

<% end %>