<footer>
	<div class="row">
		<div class="small-12 medium-12 large-12 columns">
			<div class="small-6 medium-4 large-3 columns">
				<p class="section-header">Cards</p>
				<ul>
					<li><%= link_to "link 1", residentials_path %></li>
					<li><%= link_to "link 2", residentials_path %></li>
					<li><%= link_to "link 3", residentials_path %></li>
					<li><%= link_to "link 4", residentials_path %></li>
					<li><%= link_to "link 5", residentials_path %></li>
				</ul>
			</div>
			<div class="small-6 medium-4 large-3 columns">
				<p class="section-header">Loans</p>
				<ul>
					<li><%= link_to "link 1", residentials_path %></li>
					<li><%= link_to "link 2", residentials_path %></li>
					<li><%= link_to "link 3", residentials_path %></li>
					<li><%= link_to "link 4", residentials_path %></li>
					<li><%= link_to "link 5", residentials_path %></li>
				</ul>
			</div>
			<div class="small-6 medium-4 large-3 columns">
				<p class="section-header">Updates</p>
				<ul>
					<li><%= link_to "link 1", residentials_path %></li>
					<li><%= link_to "link 2", residentials_path %></li>
					<li><%= link_to "link 3", residentials_path %></li>
					<li><%= link_to "link 4", residentials_path %></li>
					<li><%= link_to "link 5", residentials_path %></li>
				</ul>
			</div>
			<div class="small-6 medium-4 large-3 columns end">
				<p class="section-header">Others</p>
				<ul>
					<li><%= link_to "link 1", residentials_path %></li>
					<li><%= link_to "link 2", residentials_path %></li>
					<li><%= link_to "link 3", residentials_path %></li>
					<li><%= link_to "link 4", residentials_path %></li>
					<li><%= link_to "link 5", residentials_path %></li>
				</ul>
			</div>
		</div>
	</div>
</footer>