<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "Estateer.com", root_path %></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <% if user_signed_in? %>
          <li class="has-dropdown">
            <%= link_to current_user.email %>
            <ul class="dropdown">
              <% if UserProfile.where(user_id: current_user.id).any? %>
                <li><%= link_to 'My Profile', user_profile_path([@user, current_user], [current_user] ) %></li>
              <% else %>
                <li><%= link_to 'Create Profile', new_user_profile_path(user_id: current_user) %></li>
              <% end %>  
              <li><%= link_to "Account Setting", edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Signup", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li class="has-dropdown">
          <%= link_to "Residential Property", residentials_path %>
          <ul class="dropdown">
            
            <li><%= link_to "Browse All", residentials_path %></li>

            <li><label>Post Type:</label></li>
            <% PropertyPostType.all.each do |pt| %>
              <li><%= link_to pt.name, residentials_path(property_post_type: pt.name) %></li>
            <% end %>

            <li><label>Property Type:</label></li>
            <% ResidentialType.all.each do |rt| %>
              <li><%= link_to rt.name, residentials_path(residential_type: rt.name) %></li>
            <% end %>

          </ul>
        </li>

        <li class="has-dropdown">
          <%= link_to "Commercial Property", commercials_path %>
          <ul class="dropdown">
            <li><%= link_to "Commercial Property", commercials_path %></li>

            <li><label>Post Type:</label></li>
            <% PropertyPostType.all.each do |pt| %>
              <li><%= link_to pt.name, commercials_path(property_post_type: pt.name) %></li>
            <% end %>
            
            <li><label>Property Type:</label></li>
            <% CommercialType.all.each do |ct| %>
              <li><%= link_to ct.name, commercials_path(commercial_type: ct.name) %></li>
            <% end %>
          </ul>  
        </li>

        <li class="has-dropdown">
          <%= link_to "Premarket Property", premarkets_path %>
          <ul class="dropdown">

            <% PremarketType.all.each do |pmt| %>
              <li><%= link_to pmt.name, premarkets_path(premarket_type: pmt.name) %></li>
            <% end %>
          </ul>  
        </li>

        <li><a href="#">Find Agent</a></li> 
        <li><a href="#">Find Service</a></li> 

        <li class="has-dropdown">
          <%= link_to "Updates", posts_path %>
          <ul class="dropdown">

            <% PostCategory.all.each do |pc| %>
              <li><%= link_to pc.name, posts_path(post_category: pc.name) %></li>
            <% end %>
          </ul>  
        </li>
      </ul>
    </section>
  </nav>
</div>  